@{
  Layout = "_Layout";
}

@using Shop.Models;

<h1>SweetnSpicy Shop </h1>
<p>@Html.ActionLink("User Login", "Login", "Account")</p>
<p>@Html.ActionLink("Create an account", "Register", "Account")</p>
<p>@Html.ActionLink("Flavors", "Index")</p> 
<p>@Html.ActionLink("Treats", "Index")</p>